.sports___home a {
    color: #0085FF !important;
}

.sports___home a:hover {
    text-decoration: underline !important;
}
.skeleton_container{
    width: 100%;
}

@media screen and (max-width:960px) {

    .eventsbgcard {
        margin: 3px !important;
    }

}